extends layout.pug
block content
    .threadContainer
        .questionTitle
            h1= title
        .post.question
            .body
                p=threadQuestion.body
            .bodyScore
                i#voteUp.votingbutton.fas.fa-chevron-up
                p.scoreThreadPage=threadQuestion.score
                i#voteDown.votingbutton.fas.fa-chevron-down
                p.label Likes
        if threadAnswers
            each answer in threadAnswers
                .post.answer
                    .body
                        p=answer.body
                    .bodyScore
                        i.votingbutton.fas.fa-chevron-up
                        p.scoreThreadPage=answer.score
                        i.votingbutton.fas.fa-chevron-down
                        p.label Likes
        .answerBox
            form.create-answer(method="POST" action="/questions/:id")
                label#answerInputLabel(for="answerInput") Provide Your Own Answer
                textarea#answerInput(name="answerInput", cols="30", rows="10")
                input(type="hidden" name="isQuestion" value="false")
                input(type="hidden" name="_csrf" value=csrfToken)
                button#answer-submit(type="submit") Submit
