mixin field( fieldName, fieldType, id, fieldValue=null, fieldLabel)
    label(for=fieldName)=fieldLabel
    input(type=fieldType name=fieldName id=id value=fieldValue class="textField")
mixin field2(fieldLabel, fieldName, fieldType, fieldValue=null)
    div
        label(for=fieldName class="formLabel")=fieldLabel
    div
        input(type=fieldType name=fieldName id=id value=fieldValue class="textField signUpField")
